Repository nikitosss/ecwid: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore

fix path
  public/frontend-test-task/gallery-images.json
  src/App.tsx
Due: eslint --ignore-path .gitignore

Updates
  asset-manifest.json
  frontend-test-task/gallery-images.json
  index.html
  precache-manifest.277a2e15b71157f65769e22f5b287d17.js
  service-worker.js
  static/js/main.61cddbc5.chunk.js
  static/js/main.61cddbc5.chunk.js.map
  static/js/main.cffd0512.chunk.js
  static/js/main.cffd0512.chunk.js.map
Due: none

fix Deploy
  .github/workflows/ci.yml
  src/App.tsx
Due: eslint --ignore-path .gitignore

deploy: c2f0da589632d5d5353242af7c1d2bb7dba71cc4
  .nojekyll
  asset-manifest.json
  favicon.ico
  index.html
  precache-manifest.686d90a94d7a66fcf96b52777005284d.js
  service-worker.js
  static/js/3.0cd7bcae.chunk.js.map
  static/js/3.633add26.chunk.js
  static/js/3.633add26.chunk.js.map
  static/js/main.83816a56.chunk.js
  static/js/main.83816a56.chunk.js.map
  static/js/main.cffd0512.chunk.js
  static/js/main.cffd0512.chunk.js.map
  static/js/runtime-main.daafe18e.js
  static/js/runtime-main.daafe18e.js.map
  static/js/runtime-main.e06fba2b.js
  static/js/runtime-main.e06fba2b.js.map
Due: none

add createContext
  src/App.scss
  src/App.tsx
  src/containers/Form/index.tsx
  src/containers/Form/styles.scss
  src/contexts/Settings.tsx
  src/utils/cloneDeep.ts
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore

add badge
  README.md
Due: none

Updates
  .nojekyll
  asset-manifest.json
  favicon.ico
  index.html
  precache-manifest.686d90a94d7a66fcf96b52777005284d.js
  precache-manifest.a6b9b2bea0b6246613e1bb6505bb987f.js
  service-worker.js
  static/css/main.5685dc8f.chunk.css
  static/css/main.5685dc8f.chunk.css.map
  static/css/main.c08272d9.chunk.css
  static/css/main.c08272d9.chunk.css.map
  static/js/2.3bc4b40a.chunk.js
  static/js/2.3bc4b40a.chunk.js.LICENSE.txt
  static/js/2.3bc4b40a.chunk.js.map
  static/js/2.e8e5d802.chunk.js
  static/js/2.e8e5d802.chunk.js.map
  static/js/3.633add26.chunk.js
  static/js/3.633add26.chunk.js.map
  static/js/3.d9b04bc6.chunk.js
  static/js/3.d9b04bc6.chunk.js.map
  static/js/main.83816a56.chunk.js
  static/js/main.83816a56.chunk.js.map
  static/js/main.b173ec94.chunk.js
  static/js/main.b173ec94.chunk.js.map
  static/js/runtime-main.041c6d24.js
  static/js/runtime-main.041c6d24.js.map
  static/js/runtime-main.e06fba2b.js
  static/js/runtime-main.e06fba2b.js.map
Due: none

add Picture
  .eslintrc.json
  package-lock.json
  package.json
  public/frontend-test-task/gallery-images.json
  public/frontend-test-task/images/448964007.jpg
  public/frontend-test-task/images/448964008.jpg
  public/frontend-test-task/images/448964009.jpg
  public/frontend-test-task/images/448964010.jpg
  public/frontend-test-task/images/448964011.jpg
  public/frontend-test-task/images/448964012.jpg
  public/frontend-test-task/images/448964013.jpg
  public/frontend-test-task/images/448964014.jpg
  public/frontend-test-task/images/448964016.jpg
  public/frontend-test-task/images/448964020.jpg
  public/frontend-test-task/images/448964021.jpg
  public/frontend-test-task/images/493550739.jpg
  public/frontend-test-task/images/493550740.jpg
  public/frontend-test-task/images/493550745.jpg
  public/frontend-test-task/images/493550746.jpg
  public/frontend-test-task/images/493550754.jpg
  public/frontend-test-task/images/493550755.jpg
  src/App.tsx
  src/components/Gallery/index.tsx
  src/components/Picture/index.tsx
  src/types/Query.ts
  src/utils/imageProxy.ts
Due: eslint --ignore-path .gitignore

refactor grid
  package-lock.json
  package.json
  src/App.tsx
  src/utils/grid.ts
  src/utils/imageProxy.ts
Due: eslint --ignore-path .gitignore

refactor grid
  src/utils/grid.ts
Due: eslint --ignore-path .gitignore

add docs
  src/utils/cloneDeep.ts
  src/utils/grid.ts
  src/utils/id.ts
Due: eslint --ignore-path .gitignore

deploy: 3122306c04a81f3ad0494b4fe54b66686d8b7487
  asset-manifest.json
  index.html
  precache-manifest.92824e60bb0c860ebf9e4753b141289a.js
  precache-manifest.dd4629b5ab9cc629f845eaa0615cfe23.js
  service-worker.js
  static/js/2.081fa62b.chunk.js
  static/js/2.081fa62b.chunk.js.LICENSE.txt
  static/js/2.081fa62b.chunk.js.map
  static/js/2.7edc9d0e.chunk.js
  static/js/2.7edc9d0e.chunk.js.map
  static/js/3.35a9ee83.chunk.js
  static/js/3.35a9ee83.chunk.js.map
  static/js/3.ba5bab20.chunk.js
  static/js/3.ba5bab20.chunk.js.map
  static/js/main.302892e5.chunk.js
  static/js/main.302892e5.chunk.js.map
  static/js/main.ae6eceec.chunk.js
  static/js/main.ae6eceec.chunk.js.map
  static/js/runtime-main.d5a3a1ac.js
  static/js/runtime-main.d5a3a1ac.js.map
  static/js/runtime-main.fc076127.js
  static/js/runtime-main.fc076127.js.map
Due: none

refactor
  package-lock.json
  package.json
  src/App.tsx
  src/contexts/Settings.tsx
Due: eslint --ignore-path .gitignore

refactor layout
  src/App.scss
  src/App.tsx
  src/containers/Form/styles.scss
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore

refactor useEffect
  src/App.tsx
  src/components/Gallery/index.tsx
Due: eslint --ignore-path .gitignore

fix README
  README.md
Due: none

deploy: 2b802359c308f1105bc0349ee2014aeeac7ec327
  asset-manifest.json
  index.html
  precache-manifest.92824e60bb0c860ebf9e4753b141289a.js
  precache-manifest.e80ec0442fd92ab777278565bd15b594.js
  service-worker.js
  static/css/main.5685dc8f.chunk.css
  static/css/main.5685dc8f.chunk.css.map
  static/css/main.eebfc117.chunk.css
  static/css/main.eebfc117.chunk.css.map
  static/js/3.35a9ee83.chunk.js
  static/js/3.35a9ee83.chunk.js.map
  static/js/3.d48df21b.chunk.js
  static/js/3.d48df21b.chunk.js.map
  static/js/main.302892e5.chunk.js
  static/js/main.302892e5.chunk.js.map
  static/js/main.fcee17fd.chunk.js
  static/js/main.fcee17fd.chunk.js.map
  static/js/runtime-main.4c010333.js
  static/js/runtime-main.4c010333.js.map
  static/js/runtime-main.d5a3a1ac.js
  static/js/runtime-main.d5a3a1ac.js.map
Due: none

fix Gallery
  README.md
  src/App.tsx
Due: eslint --ignore-path .gitignore

deploy: 80c1979e12f3d00643246bca5083644b484d30de
  asset-manifest.json
  index.html
  precache-manifest.3af8fd90700e246cb10b23cbc45cd632.js
  precache-manifest.e80ec0442fd92ab777278565bd15b594.js
  service-worker.js
  static/js/2.081fa62b.chunk.js
  static/js/2.081fa62b.chunk.js.map
  static/js/2.4defcd77.chunk.js
  static/js/2.4defcd77.chunk.js.LICENSE.txt
  static/js/2.4defcd77.chunk.js.map
  static/js/3.084b4358.chunk.js
  static/js/3.084b4358.chunk.js.map
  static/js/3.d48df21b.chunk.js
  static/js/3.d48df21b.chunk.js.map
  static/js/main.db007661.chunk.js
  static/js/main.db007661.chunk.js.map
  static/js/main.fcee17fd.chunk.js
  static/js/main.fcee17fd.chunk.js.map
  static/js/runtime-main.4c010333.js
  static/js/runtime-main.4c010333.js.map
  static/js/runtime-main.88b2f47b.js
  static/js/runtime-main.88b2f47b.js.map
Due: none

update packages
  package-lock.json
  package.json
Due: none

fix lint
  .eslintrc.json
Due: none

fix lint
  .eslintrc.json
  package-lock.json
  package.json
  src/containers/Form/index.tsx
  src/utils/imageProxy.ts
Due: eslint --ignore-path .gitignore

add url state
  src/containers/Form/index.tsx
Due: eslint --ignore-path .gitignore

refactor bem-react
  package-lock.json
  package.json
  src/App.scss
  src/App.tsx
  src/components/Gallery/index.tsx
  src/components/Gallery/styles.scss
  src/components/Picture/index.tsx
  src/containers/Form/index.tsx
  src/containers/Form/styles.scss
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore

fix item
  src/components/Gallery/index.tsx
Due: eslint --ignore-path .gitignore

deploy: 3a11a801dd605a2a2193fb812558bfcea9e4972f
  asset-manifest.json
  index.html
  precache-manifest.3af8fd90700e246cb10b23cbc45cd632.js
  precache-manifest.6b9a38db78987aa49bcf540320dbcdc0.js
  service-worker.js
  static/css/3.37c6aa96.chunk.css
  static/css/3.37c6aa96.chunk.css.map
  static/css/3.44a7b868.chunk.css
  static/css/3.44a7b868.chunk.css.map
  static/css/main.1f61d72b.chunk.css
  static/css/main.1f61d72b.chunk.css.map
  static/css/main.eebfc117.chunk.css
  static/css/main.eebfc117.chunk.css.map
  static/js/2.188d58ea.chunk.js
  static/js/2.188d58ea.chunk.js.LICENSE.txt
  static/js/2.188d58ea.chunk.js.map
  static/js/2.4defcd77.chunk.js
  static/js/2.4defcd77.chunk.js.map
  static/js/3.084b4358.chunk.js
  static/js/3.084b4358.chunk.js.map
  static/js/3.12c90915.chunk.js
  static/js/3.12c90915.chunk.js.map
  static/js/main.7e9f1f50.chunk.js
  static/js/main.7e9f1f50.chunk.js.map
  static/js/main.db007661.chunk.js
  static/js/main.db007661.chunk.js.map
  static/js/runtime-main.74141b42.js
  static/js/runtime-main.74141b42.js.map
  static/js/runtime-main.88b2f47b.js
  static/js/runtime-main.88b2f47b.js.map
Due: none

add canonical lint
  .eslintrc.json
  package-lock.json
  package.json
  src/contexts/Settings.tsx
  src/utils/grid.ts
  src/utils/imageProxy.ts
Due: eslint --ignore-path .gitignore

refactor
  .eslintrc.json
  src/App.tsx
  src/containers/Form/index.tsx
Due: eslint --ignore-path .gitignore

up
  package-lock.json
  package.json
Due: none

deploy: ef27b397515f8b41cee03d646c441a9ba167e587
  asset-manifest.json
  index.html
  precache-manifest.06c005237abeb473ebabec2cb2cd7a25.js
  precache-manifest.6b9a38db78987aa49bcf540320dbcdc0.js
  service-worker.js
  static/js/2.188d58ea.chunk.js
  static/js/2.188d58ea.chunk.js.map
  static/js/2.e1ec44f6.chunk.js
  static/js/2.e1ec44f6.chunk.js.LICENSE.txt
  static/js/2.e1ec44f6.chunk.js.map
  static/js/3.12c90915.chunk.js
  static/js/3.12c90915.chunk.js.map
  static/js/3.f1065ec2.chunk.js
  static/js/3.f1065ec2.chunk.js.map
  static/js/main.7e9f1f50.chunk.js
  static/js/main.7e9f1f50.chunk.js.map
  static/js/main.ce883d1d.chunk.js
  static/js/main.ce883d1d.chunk.js.map
  static/js/runtime-main.7063ef6d.js
  static/js/runtime-main.7063ef6d.js.map
  static/js/runtime-main.74141b42.js
  static/js/runtime-main.74141b42.js.map
Due: none

Path conditions:
  eslint --ignore-path .gitignore: any of: *.{ts,tsx}
  stylelint --ignore-path .gitignore: any of: *.scss
